﻿arrow /* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px !important;
}

/* Snippet style for elements with round corners. */
.radius-like {
    border-radius: 20px;
}

/* Animation effect for objects with rotate when the page loaded. */
.jumpable {
    animation: easing-boing-anim 2s ease-in-out 1 normal;
}

/* Animation effect for objects without rotation when the page loaded. */
.pushable {
    animation: easing-boing-anim 1s ease-in-out 1 normal;
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0) rotate(45deg);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1);
    }
}

/*.nice-text-box {
    border-bottom: 2px solid deeppink !important;
}*/

.nice-text-box::placeholder {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
}

#video-preview {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bg-image {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all linear 1000s;
    animation-name: blick;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


.prevent-selection {
    outline: none;
}

.green-button {
    background-color: green !important;
}

@keyframes blick {
    from {
        transform: scale(1.01);
    }

    to {
        transform: scale(1.06);
    }
}

/* Div for divs to be on one line. */
.inline-div {
    display: flex;
}

/* A class form black bg replacing */
.request-white-bg {
    background-color: white !important;
    border: 0px !important;
    -webkit-box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
    -moz-box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
    box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
}

/* Adds margin to elements with it. */
.marginaled {
    margin: 5px;
}

/* Properties for hr to be at bottom. */
hr {
    clear: both;
}

/* Properties for footer to be at bottom. */
footer {
    clear: both;
}

.team-panel {
    margin: 10px;
    transition: transform ease-in-out 300ms;
    float: left;
    width: 300px;
    height: 200px;
}

    /* Resize the team block when the mouse is over it. */
    .team-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }


.gradientable {
    background: rgb(255,0,0);
    background: -webkit-linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradientable-purple {
    background: rgb(249,26,233);
    background: linear-gradient(90deg, rgba(249,26,233,1) 14%, rgba(255,124,0,1) 100%);
}

/* Styles for content elements. */
div ul li a {
    color: black !important;
    font-family: 'Cormorant', serif;
    transition: all ease-in-out 100ms;
    font-size: 22px;
}

    /* Change the color when the mouse is over a buttons. */
    div ul li a:hover {
        color: royalblue !important;
        transform: scale(1.1);
    }

.request-black-font {
    color: black !important;
}

/* Startup Image radius */
.startup-image-radius {
    border-radius: 10%;
}

/* Styles for startup's name. */
.startup-name {
    text-align: center;
    color: white;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 500px;
}

.startupnavbar {
    color: black !important;
}

.ImageSetting {
    float: right;
    flex: auto;
    height: 215px;
    width: 235px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        padding-top: 20px !important;
    }

    .body-content {
        padding: 0;
    }
}

.request-center {
    align-items: center !important;
    align-content: center;
    padding-left: 50% !important;
    margin-left: -250px !important;
}

.title-setting {
    text-align: center;
    margin-top: 5%;
    font-size: 54px;
}

.centerized-text {
    margin-left: auto;
    text-align: center !important;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.swimming-content {
    float: left;
    margin: 20px;
}

.textMarginAndSize {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-setting {
    position: relative;
    left: 48%;
    transform: translate(-50%, 0);
}

.txt-shadow:focus {
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
}

/* New about styles. */
.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delayed-fade-in {
    -webkit-animation-duration: 3s;
}

.suspended-fade-in {
    -webkit-animation-delay: 1s;
}

.align-h1 {
    text-align: center;
    font-family: 'Cormorant', serif;
}

.round-div-block-specified-about {
    border-radius: 10px;
    height: 50px;
    font-family: 'Cormorant', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.about-like-cloud-button {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: auto;
    font-size: 30px !important;
}

    .about-like-cloud-button:hover {
        background-color: #181219 !important;
        color: white !important;
    }

.font-family-title {
    font-family: 'Cormorant', serif;
}

.title-page-margin {
    font-family: 'Cormorant', serif;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-about-title {
    font-size: 4em;
}

.sub-main-about-title {
    font-size: 1.5em;
}

.top-margin-about {
    margin-top: 10%;
}

/* Styles for startups page. */
.slideshow-wrapper {
    position: relative;
    display: block;
    float: left;
    width: 180px;
    height: 180px;
}

    .slideshow-wrapper::before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

.slideshow-member {
    display: block;
    width: 100%;
    height: auto;
}

.transparentable {
    opacity: .3;
}

.blurred {
    filter: blur(2px);
}

.shadow-container {
    position: relative;
    width: 100%;
    height: 300px;
    opacity: 1;
    box-shadow: none;
    background-size: 100% auto;
}

.grid-like {
    display: grid;
}

.container-item {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    background-color: black;
}

.tag-item {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    color: white;
    align-items: flex-end !important;
    font-family: 'Cormorant', serif;
    font-size: 1.35em;
    display: flex;
}

.startup-image {
    width: 100%;
    filter: brightness(100%)
}

.margin-bottom-top-as-usual {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.item-name {
    margin-left: 20px;
    margin-bottom: 45px;
    z-index: 128;
}

.align-right {
    left: auto;
}

/* Styles for panel in Startups. */
.startup-panel {
    margin: 10px;
    width: 310px;
    height: 310px;
    transition: transform ease-in-out 300ms;
}

    /* Resize the startup block when the mouse is over it. */
    .startup-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

.gray-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 19%, rgba(106,106,106,0.4) 33%, rgba(0,0,0,1) 89%);
    z-index: 64;
    opacity: .8;
}

/* Styles for register. */

text-danger-additional {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.grid-like {
    display: grid;
}

/* Smooth div cloud-like block. */
.round-div-block {
    border-radius: 30px;
    height: 30px;
    font-family: 'IBM Plex Serif', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* .round-div-block:hover {
        animation-name: blick;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }*/
.semi-transparent {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.request-auto-height {
    height: max-content;
}

.simple-cloud-button {
    background-color: deeppink;
    color: white !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

    .simple-cloud-button:hover {
        background-color: lightpink !important;
    }

/* Styles for default form. */
.request-normal-height {
    min-height: 400px;
}

.default-lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.inherit-font-size {
    font-size: inherit;
}

.marginated-tag-item {
    margin-left: 20px;
    margin-bottom: 10px;
}

.blue-sign {
    background-color: deepskyblue;
    height: 15px;
    width: max-content;
    font-size: 1.05em;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 127;
    position: relative;
    margin-left: 5px;
}

.category-element {
    z-index: 128;
    color: #d4d4dd;
    font-size: 1.15em;
    width: max-content;
    height: max-content;
    position: relative;
}

.centerized-title {
    text-align: center;
}

.items-title {
    color: black;
    font-size: 5em;
    margin-block-end: 30px;
    text-align: center;
}

.empty-items-font-size {
    font-size: 3em;
}

.not-on-top {
    z-index: auto;
}

.not-on-top-bg {
    z-index: 125;
}

.not-on-top-text {
    z-index: 126;
}

/* Sets the blue background with transparency. */
.transparent-blue {
    background-color: deepskyblue;
    opacity: .5;
}

/* Sets white font color. */
.request-solid-color {
    color: white;
}

/* Align text items at center. */
.done-text {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Cormorant', serif;
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
}

/* Styles for startup ended blocks. */
.startup-end-block {
    height: 80px;
    margin-bottom: 30%;
}

/* Styles for startup info. */
.image-cover-auto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-my-startup {
    border-width: 40px;
    border-style: solid;
    border-color: #FF0000 #FF0000 transparent transparent;
    font-size: x-small;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 0 !important;
}

.rotated-text {
    transform: rotate( 45deg );
    font-size: large;
    padding-top: 10px;
}

.vertical-align-text {
    vertical-align: middle;
}

.image-flow {
    width: 330px;
    float: left;
    position: relative;
}

.arrow {
    display: block;
    position: absolute;
    top: 100px;
    margin-top: -20px !important;
}

.prev {
    left: 95px;
    z-index: 999;
}

.next {
    right: 25px;
    margin-top: -20px !important;
}

.button-style-for-page-info {
    text-align: center !important;
    border-radius: 30px;
    margin: 10px;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    height: 30px;
    width: 30px;
}

.about-like-cloud-button-for-page-info {
    color: white !important;
    border: 0px;
    padding: 0;
    opacity: 0.7;
    background-color: #7C7C7C;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-info:hover {
        background-color: #434244 !important;
        color: white !important;
    }

.popup-button {
    opacity: 0;
    transform: scale(.8);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.popup-button-on {
    opacity: 1;
    transform: scale(1);
}

.images {
    width: max-content;
    padding: 0;
    list-style: none;
    transition: all 200ms ease-in-out;
    font-size: 0;
}

.image {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.inline-block {
    display: inline-block;
}

.visible-gallery {
    overflow: hidden;
    width: 200px;
    margin-left: 100px;
}

.users-gallery {
    margin-left: 0px;
    width: inherit;
}

.users-sliding {
    animation: slide-users-frames 16s linear infinite;
}

.not-absolute {
    position: inherit;
}

.transparent-container {
    background-color: transparent;
}

@keyframes slide-users-frames {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-600px);
    }
}

.user-image-padding {
    padding-right: 10px;
}

/* Styles for master web form. */

/* The title and size for master page. */
.title-and-size {
    font-family: 'Cormorant', serif;
    font-size: 22px !important;
}

.header-shadow {
    -webkit-box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
    -moz-box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
    box-shadow: 0px 6px 12px -8px rgba(141, 141, 141, 0.43);
}

/* Styles for contact page. */

.title-setting-contact {
    margin-top: 1%;
    font-size: 42px;
}

.contact-main-div {
    display: flex;
    justify-content: left;
    vertical-align: middle;
}

.contact-sub-main-div {
    width: 600px;
    height: 300px;
    animation: none;
    display: inline-block;
}

.contact-article {
    font-size: 20px;
    margin: 0 0 0 30px;
}

/* Styles for register and login. */

.textbox-style-setting {
    border: 1px solid #c4c4c4;
    height: 40px;
    width: 375px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #545454;
    -moz-box-shadow: 0px 0px 8px #545454;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .textbox-style-setting:focus {
        outline: none;
        border: 1px solid #545454;
        box-shadow: 0px 0px 8px #545454;
        -moz-box-shadow: 0px 0px 8px #545454;
        -webkit-box-shadow: 0px 0px 8px #545454;
    }

.text-danger-register-like {
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.style-background-for-div {
    opacity: 0.11;
}

.semi-transparent-register-like {
    background-color: rgba(23,23,23,0.5) !important;
}

.blurred-register-like {
    filter: blur(2px);
}

/* ?? */

a {
    text-decoration: none !important;
}

    a:focus {
        text-decoration: none !important;
    }

/* Various. */

title-setting-register-like {
    text-align: center;
    margin-top: 1%;
    font-size: 42px;
}

.green-and-blue-button {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #00838f;
    background-color: white;
}

.request-max-width {
    width: 100%;
}

.description-two {
    padding-top: 0px;
    background: rgb(57,57,57);
    background: linear-gradient( 0deg, rgba(57,57,57,1) 0%, rgba(43,43,84,1) 49%, rgba(57,57,57,1) 100%);
    display: none;
    justify-content: center;
    opacity: 0;
    align-items: center;
    width: 320px;
    height: 320px;
    align-content: start;
    font-size: 17px !important;
    border: 1px solid black;
    margin: 10px;
    animation: fade-in-description 1s ease-in-out 200ms forwards;
    z-index: 129;
    pointer-events: none;
    position: absolute;
    transform: translateY(-155px);
}

.text-description {
    color: white;
    font-size: 17px;
    vertical-align: top;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    height: 250px;
    width: 260px;
    display: inline-block;
}


@charset "UTF-8";

.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}

.multi-steps > li.is-active ~ li:after, .multi-steps > li.is-active:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: #64749E;
    }

        .multi-steps > li:before {
            content: "";
            content: "✓;";
            content: "𐀃";
            content: "𐀄";
            content: "✓";
            display: block;
            margin: 0 auto 4px;
            background-color: #fff;
            width: 36px;
            height: 36px;
            line-height: 32px;
            text-align: center;
            font-weight: bold;
            border-width: 2px;
            border-style: solid;
            border-color: tomato;
            border-radius: 50%;
        }

        .multi-steps > li:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: tomato;
            position: absolute;
            top: 16px;
            left: 50%;
            z-index: -1;
        }

        .multi-steps > li:last-child:after {
            display: none;
        }

        .multi-steps > li.is-active:before {
            background-color: #fff;
            border-color: #64749E;
        }

        .multi-steps > li.is-active ~ li {
            color: #808080;
        }

            .multi-steps > li.is-active ~ li:before {
                background-color: #ededed;
                border-color: #ededed;
            }

/* Styles for all pages.*/

.reason {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(45, 45, 45, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    animation: fade-out-reason 5s ease-in-out 3s forwards;
    color: white;
    text-align: center;
    pointer-events: none;
    z-index: 999;
}

.description {
    padding-top: 10px;
    background-color: rgba(194, 194, 194, 0.9);
    display: flex;
    justify-content: center;
    opacity: 0;
    align-items: center;
    width: 310px;
    height: 310px;
    margin: 10px;
    border-radius: 20px;
    animation: fade-in-description 1s ease-in-out 200ms forwards;
    z-index: 129;
    pointer-events: none;
    transform: translateY(-10px);
}

@keyframes fade-out-reason {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in-description {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Style button. */
.button-style-for-page {
    text-align: center !important;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    height: 30px;
}

.about-like-cloud-button-for-page {
    color: white !important;
    border: 0px;
    padding: 0;
    background-color: #6174C8;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page:hover {
        background-color: #434244 !important;
        color: white !important;
    }


.button-style-for-page-two {
    text-align: center !important;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    height: 30px;
}

.about-like-cloud-button-for-page-two {
    color: white !important;
    border: 0px;
    padding: 0;
    background-color: #434244;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-two:hover {
        background-color: #6174C8 !important;
        color: white !important;
    }


/* ComboBox sorting. */

@media (min-width: 768px) {
    .form-search .combobox-container,
    .form-inline .combobox-container {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .form-search .combobox-container .input-group-addon,
        .form-inline .combobox-container .input-group-addon {
            width: auto;
        }
}

.combobox-selected .caret {
    display: none;
}


/* :not doesn't work in IE8 */

.combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
}

.typeahead-long {
    max-height: 300px;
    overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #6174C8;
}

.control-group.warning .combobox-container .caret {
    border-top-color: #6174C8;
}

.control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
}

.control-group.success .combobox-container .caret {
    border-top-color: #6174C8;
}


/* Search. */

.search-box, .close-icon, .search-wrapper {
    position: relative;
    padding: 10px;
}

.search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

    .search-box:focus {
        box-shadow: 0 0 5px 3px #6174C8;
        border: 2px solid #bebede;
    }

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

    .close-icon:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #FA9595;
        z-index: 1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
    }

.search-box:not(:valid) ~ .close-icon {
    display: none;
}


/* Background for description. */

.section.blacked {
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.section {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-section-bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 10% 50%;
    object-position: 10% 50%;
}

img-section {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.body-background {
    width: 100%;
    height: 500px;
    background: #000 url(Resources/bacgrounds.jpg);
    color: #fff; /* Цвет текста */
}


/* Comments. */
.topic .td1 {
    border-width: 1px 1px 0 0;
    border-right-color: #b7c0c5;
    min-width: 142px;
    max-width: 160px;
    border-style: solid;
}

.poster_info {
    padding: 4px;
    vertical-align: top;
    font-size: 10px;
    line-height: 100%;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.topic .td2 {
    border-width: 1px 0 0 0;
    width: 100%;
}

.message {
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.post_head {
    border-width: 0 0 1px 0;
    padding: 0 6px;
    font-size: 10px;
}

.post-time {
    float: left;
    padding: 4px 0 3px;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.post_wrap {
    max-width: 1175px;
    margin: 5px 5px 8px;
    word-wrap: break-word;
}

.post_body {
    line-height: 18px;
}

.inline-button {
    display: inline-block;
    width: max-content !important;
}

/* Background. */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.marginated {
    padding-left: 15px;
    padding-right: 15px;
}

/* Style for add or info pages. */
.semi-transparent-register-like-two {
    background-color: rgba(68,67,67,0.5) !important;
    font-family: 'IBM Plex Serif', serif;
    color: white;
}

.about-like-cloud-button-three {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: auto;
    font-size: 30px;
}

.request-vertical-top {
    vertical-align: top;
}

.about-like-cloud-button-three:hover {
    color: white !important;
    background-color: #6174C8 !important;
}

.about-like-cloud-button-for-page-four {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 170px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-four:hover {
        color: white !important;
        background-color: #6174C8 !important;
    }

.jumbojumbo {
    margin-top: 20px;
    padding-top: 20px !important;
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.center-align {
    text-align: -webkit-center;
}

.search-text-box {
    vertical-align: middle;
    margin-left: 5px;
}

.request-overflow-y {
    overflow-y: scroll;
    height: 40px;
    overflow-wrap: break-word;
    resize: none;
}

.about-like-cloud-button-for-page-five {
    color: white !important;
    border: 0px;
    padding: 0;
    background-color: #6174C8;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 170px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-five:hover {
        background-color: #434244 !important;
        color: white !important;
    }

.semi-transparent-my-account {
    background-color: #434244 !important;
}

.about-like-cloud-button-for-page-account {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    text-align: center;
    margin-left: 5px !important;
    width: 170px;
    height: 30px !important;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-account:hover {
        background-color: #6174C8 !important;
        color: white !important;
    }


/* Add style for listbox. */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container, .instructions {
    width: 200px;
    margin: 20px auto 0;
    font-size: 14px;
    font-family: sans-serif;
    overflow: auto;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.dropdown-label, .dropdown-quantity {
    float: left;
}

.dropdown-quantity {
    margin-left: 4px;
}

.fa-filter {
    float: right;
}

.dropdown-list {
    float: left;
    width: 100%;
    border-top: none;
    box-sizing: border-box;
    height: 500px;
}

input[type="search"] {
    padding: 5px 0;
    width: 100%;
}

ul-stylebox {
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.request-static-height {
    height: 40px;
    overflow-y: auto;
}

.element-contents {
    display: contents;
}

.dropdown-box-additions {
    height: 50px !important;
    align-content: center;
    width: max-content;
    height: 100px;
    margin-left: 5px;
    margin-right: 10px;
    float: left !important;
    vertical-align: middle;
}

.no-margin {
    margin: 0;
}

.dropdown-static-height {
    height: 500px;
}

/* Search style additions. */
.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #00838f !important;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.form-control:focus {
    box-shadow: none;
}

/* Search styles */

.search-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.search-items {
    width: 740px;
    animation: none;
    display: inline-block;
}

.search-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.search-startup-text-box {
    width: 515px;
    max-width: 700px;
    color: black;
}

.category-dropdown {
    color: black !important;
    width: 455px !important;
    display: inline-block;
}

.max-members-textbox {
    color: black !important;
    width: 330px;
}

.description-startup-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.main-startup-image-container {
    margin-left: 70px;
    width: 250px;
    height: 150px;
}

.startup-image-header {
    margin-bottom: 60px;
    height: 50px;
    justify-content: center;
}

.remove-image-button {
    width: 90%;
    height: max-content;
}

.upload-image-input {
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-images-startup-button {
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
    border-radius: 5px;
    color: black;
}

.add-startup-documents-button {
    margin-bottom: 10px;
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
}

.startup-save-button {
    margin-bottom: 0px;
    float: left;
    margin-right: 40px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
}

.startup-cancel-button {
    width: 170px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
}

.add-teams-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.add-teams-sub-main-container {
    width: 740px;
    animation: none;
    display: inline-block;
}

.add-teams-name-box {
    width: 515px;
    max-width: 700px;
    color: black;
}

.add-teams-name-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-teams-members-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-teams-member-box {
    color: black;
    width: 330px;
}

.add-teams-description-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-teams-logo-label {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-teams-panel {
    margin-left: 70px;
    width: 250px;
    height: 150px;
}

.add-teams-remove-image-button {
    width: 90%;
    height: max-content;
    bottom: 0;
    position: absolute;
}

.add-teams-upload-image {
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: 70px;
    margin-right: 20px;
}

.add-teams-add-image {
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
    border-radius: 5px;
    color: black;
}

.add-teams-inline-block {
    display: inline-block;
}

.add-teams-save {
    margin-bottom: 0px;
    float: left;
    margin-right: 40px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
}

.add-teams-discard {
    width: 170px;
    font-size: 17px;
    margin-left: 70px;
    height: 35px;
}

.border-radius {
    border-radius: 15px;
    background: white;
    border: 1px solid #8D8D8D;
}

.border-radius-btn {
    border-radius: 4px;
    background: white;
    border: 1px solid #8D8D8D;
    margin-left: 55px;
}

.white-shadow-block {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 0px 4px 2px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 0px 4px 2px rgba(34, 60, 80, 0.26);
}

.hidden-description {
    display: none;
}

.no-image-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.request-top {
    top: 50px;
}

.user-paragraph {
    font-size: large !important;
    text-align: center;
    padding-left: 10px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.no-margin-left {
    margin-left: -95px;
}

.navbar-button-master {
    background-color: black !important;
}

    .navbar-button-master:hover {
        background-color: #5f5f5f !important;
    }

.round-div-block-specified-about-page-account {
    border-radius: 10px;
    height: 40px;
    width: 100px !important;
    font-family: 'Cormorant', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.about-like-cloud-button-page-account {
    color: white !important;
    border: 0px;
    background-color: #6174C8;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 300px;
    font-size: 22px !important;
}

    .about-like-cloud-button-page-account:hover {
        background-color: #181219;
        color: white !important;
    }

.bg-image-logo {
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all linear 1000s;
    animation-name: blick;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.my-account-button-margin-and-height {
    margin-top: -10px;
    height: auto;
}

.dropdown-list-teams {
    width: auto;
    font-size: 12px;
}

/* Support styles. */
.cp-pen-styles > body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #27ae60;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #054ba0;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

#frame {
    min-width: 360px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #054ba0;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 98px;
        min-width: 58px;
    }
}

#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #054ba0;
    }
}

#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

    #frame #sidepanel #profile.expanded .wrap p {
        margin-top: 20px;
    }

    #frame #sidepanel #profile.expanded .wrap i.expand-button {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#frame #sidepanel #profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
    border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
    border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 30px 18px;
        display: block;
        cursor: pointer;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

    #frame #sidepanel #profile .wrap #expanded label {
        float: left;
        clear: both;
        margin: 0 8px 5px 0;
        padding: 5px 0;
    }

    #frame #sidepanel #profile .wrap #expanded input {
        border: none;
        margin-bottom: 6px;
        background: #054ba0;
        border-radius: 3px;
        color: #f5f5f5;
        padding: 7px;
        width: calc(100% - 43px);
    }

        #frame #sidepanel #profile .wrap #expanded input:focus {
            outline: none;
            background: #435f7a;
        }

#frame #sidepanel #search {
    border-top: 1px solid #054ba0;
    border-bottom: 1px solid #054ba0;
    font-weight: 300;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #search {
        display: none;
    }
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 10px);
    border: none;
    background: #054ba0;
    color: #f5f5f5;
}

    #frame #sidepanel #search input:focus {
        outline: none;
        background: #073f98;
    }

    #frame #sidepanel #search input::-webkit-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input::-moz-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-ms-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-moz-placeholder {
        color: #f5f5f5;
    }

#frame #sidepanel #contacts {
    height: calc(100% - 57px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

        #frame #sidepanel #contacts::-webkit-scrollbar {
            display: none;
        }
}

#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #054ba0;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #054ba0;
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #055ba0;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #055ba0;
    border-right: 5px solid #053da3;
}

    #frame #sidepanel #contacts ul li.contact.active span.contact-status {
        border: 2px solid #054ba0 !important;
    }

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}

    #frame #sidepanel #contacts ul li.contact .wrap span.online {
        background: #2ecc71;
    }

    #frame #sidepanel #contacts ul li.contact .wrap span.away {
        background: #f1c40f;
    }

    #frame #sidepanel #contacts ul li.contact .wrap span.busy {
        background: #e74c3c;
    }

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

    #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
        position: initial;
        border-radius: initial;
        background: none;
        border: none;
        padding: 0 2px 0 0;
        margin: 0 0 0 1px;
        opacity: .5;
    }

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

    #frame #sidepanel #bottom-bar button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #054ba0;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

#frame .content {
    height: 100%;
    overflow: hidden;
    position: relative;
}



@media screen and (min-width: 900px) {
    #frame .content {
        width: calc(100% - 340px);
    }
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    background: #c1d1f9;
}

    #frame .content .contact-profile img {
        width: 40px;
        border-radius: 50%;
        float: right;
        margin: 9px 12px 0 9px;
    }

    #frame .content .contact-profile p {
        float: right;
    }

    #frame .content .contact-profile .social-media {
        float: right;
    }

        #frame .content .contact-profile .social-media i {
            margin-left: 14px;
            cursor: pointer;
        }

            #frame .content .contact-profile .social-media i:nth-last-child(1) {
                margin-right: 20px;
            }

            #frame .content .contact-profile .social-media i:hover {
                color: #435f7a;
            }

#frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

    #frame .content .messages ul li:nth-last-child(1) {
        margin-bottom: 20px;
    }

    #frame .content .messages ul li.sent img {
        margin: 6px 8px 0 0;
    }

    #frame .content .messages ul li.sent p {
        background: #054ba0;
        color: #f5f5f5;
    }

    #frame .content .messages ul li.replies img {
        float: right;
        margin: 6px 0 0 8px;
    }

    #frame .content .messages ul li.replies p {
        background: #e6e6e6;
        float: right;
    }

    #frame .content .messages ul li img {
        width: 22px;
        border-radius: 50%;
        float: left;
    }

    #frame .content .messages ul li p {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 20px;
        max-width: 205px;
        line-height: 130%;
    }

@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 300px;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

    #frame .content .message-input .wrap {
        position: relative;
    }

        #frame .content .message-input .wrap input {
            height: 45px;
            font-family: "proxima-nova", "Source Sans Pro", sans-serif;
            float: left;
            border: none;
            width: calc(100% - 50px);
            padding: 11px 32px 10px 8px;
            font-size: 0.8em;
            color: #054ba0;
        }

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #054ba0;
    color: #f5f5f5;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

#frame .content .message-input .wrap button:hover {
    background: #073f98;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

.stylecolor{
    color: white !important;
}