/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Snippet style for elements with round corners. */
.radius-like {
    border-radius: 20px;
}

/* Animation effect for objects with rotate when the page loaded. */
.jumpable {
    animation: easing-boing-anim 2s ease-in-out 1 normal;
}

/* Animation effect for objects without rotation when the page loaded. */
.pushable {
    animation: easing-boing-anim 1s ease-in-out 1 normal;
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0) rotate(45deg);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1);
    }
}

/*.nice-text-box {
    border-bottom: 2px solid deeppink !important;
}*/

.nice-text-box::placeholder {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
}

#video-preview {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bg-image {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all linear 1000s;
    animation-name: blick;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


.prevent-selection {
    outline: none;
}

.green-button {
    background-color: green !important;
}

@keyframes blick {
    from {
        transform: scale(1.01);
    }

    to {
        transform: scale(1.06);
    }
}

/* Div for divs to be on one line. */
.inline-div {
    display: flex;
}

/* A class form black bg replacing */
.request-white-bg {
    background-color: white !important;
    border: 0px !important;
}

/* Adds margin to elements with it. */
.marginaled {
    margin: 5px;
}

/* Properties for hr to be at bottom. */
hr {
    clear: both;
}

/* Properties for footer to be at bottom. */
footer {
    clear: both;
}

.team-panel {
    margin: 10px;
    transition: transform ease-in-out 300ms;
    float: left;
    width: 300px;
    height: 200px;
}

    /* Resize the team block when the mouse is over it. */
    .team-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }


.gradientable {
    background: rgb(255,0,0);
    background: -webkit-linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradientable-purple {
    background: rgb(249,26,233);
    background: linear-gradient(90deg, rgba(249,26,233,1) 14%, rgba(255,124,0,1) 100%);
}

/* Styles for content elements. */
div ul li a {
    color: black !important;
    font-family: 'Cormorant', serif;
    transition: all ease-in-out 100ms;
    font-size: 22px;
}

    /* Change the color when the mouse is over a buttons. */
    div ul li a:hover {
        color: royalblue !important;
        transform: scale(1.1);
    }

.request-black-font {
    color: black !important;
}

/* Startup Image radius */
.startup-image-radius {
    border-radius: 10%;
}

/* Styles for startup's name. */
.startup-name {
    text-align: center;
    color: white;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 500px;
}

.startupnavbar {
    color: black !important;
}

.ImageSetting {
    float: right;
    flex: auto;
    height: 215px;
    width: 235px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        padding-top: 20px !important;
    }

    .body-content {
        padding: 0;
    }
}

.request-center {
    align-items: center !important;
    align-content: center;
    padding-left: 50% !important;
    margin-left: -250px !important;
}

.title-setting {
    text-align: center;
    margin-top: 5%;
    font-size: 54px;
}

.centerized-text {
    margin-left: auto;
    text-align: center !important;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.swimming-content {
    float: left;
    margin: 20px;
}

.textMarginAndSize {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-setting {
    position: relative;
    left: 48%;
    transform: translate(-50%, 0);
}

.txt-shadow:focus {
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
}

/* New about styles. */
.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delayed-fade-in {
    -webkit-animation-duration: 3s;
}

.suspended-fade-in {
    -webkit-animation-delay: 1s;
}

.align-h1 {
    text-align: center;
    font-family: 'Cormorant', serif;
}

.round-div-block-specified-about {
    border-radius: 10px;
    height: 50px !important;
    font-family: 'Cormorant', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

/* .round-div-block-specified-about:focus {
        animation-name: blick;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }*/

.about-like-cloud-button {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: auto;
    font-size: 30px !important;
}

    .about-like-cloud-button:hover {
        background-color: lightpink !important;
        background-color: #181219 !important;
        color: white !important;
    }

.font-family-title {
    font-family: 'Cormorant', serif;
}

.title-page-margin {
    font-family: 'Cormorant', serif;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styles for startups page. */
.slideshow-wrapper {
    position: relative;
    display: block;
    float: left;
    width: 180px;
    height: 180px;
}

    .slideshow-wrapper::before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

.slideshow-member {
    display: block;
    width: 100%;
    height: auto;
}

.transparentable {
    opacity: .3;
}

.blurred {
    filter: blur(2px);
}

.shadow-container {
    position: relative;
    width: 100%;
    height: 300px;
    opacity: 1;
    box-shadow: none;
    background-size: 100% auto;
}

.grid-like {
    display: grid;
}

.container-item {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    background-color: black;
}

.tag-item {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1999;
    display: flex;
    align-items: flex-end !important;
    font-family: 'Cormorant', serif;
    font-size: 1.45em;
}

.startup-image {
    width: 100%;
    filter: brightness(100%)
}

.margin-bottom-top-as-usual {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Styles for panel in Startups. */
.startup-panel {
    margin: 10px;
    width: 290px;
    height: 290px;
    transition: transform ease-in-out 300ms;
}

    /* Resize the startup block when the mouse is over it. */
    .startup-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

.gray-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 19%, rgba(106,106,106,0.4) 33%, rgba(0,0,0,1) 89%);
}

/* Styles for register. */

/* Smooth div cloud-like block. */
.round-div-block {
    border-radius: 30px;
    height: 30px;
    font-family: 'IBM Plex Serif', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* .round-div-block:hover {
        animation-name: blick;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }*/
.semi-transparent {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.request-auto-height {
    height: max-content;
}

.simple-cloud-button {
    background-color: deeppink;
    color: white !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

    .simple-cloud-button:hover {
        background-color: lightpink !important;
    }

/* Styles for default form. */
.request-normal-height {
    min-height: 400px;
}

/* Styles for startup info. */
.image-cover-auto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-my-startup {
    border-width: 50px;
    border-style: solid;
    border-color: #6174C8 #6174C8 transparent transparent;
    font-size: small;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 0 !important;
}

/* Styles for master web form. */

/* The title and size for master page. */
.title-and-size {
    font-family: 'Cormorant', serif;
    font-size: 22px !important;
}

/* Styles for contact page. */

.title-setting-contact {
    margin-top: 1%;
    font-size: 42px;
}

/* Styles for register and login. */

.textbox-style-setting {
    border: 1px solid #c4c4c4;
    height: 40px;
    width: 375px !important;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #545454;
    -moz-box-shadow: 0px 0px 8px #545454;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .textbox-style-setting:focus {
        outline: none;
        border: 1px solid #545454;
        box-shadow: 0px 0px 8px #545454;
        -moz-box-shadow: 0px 0px 8px #545454;
        -webkit-box-shadow: 0px 0px 8px #545454;
    }

.text-danger-register-like {
    color: white !important;
    font-size: 18px;
}

.style-background-for-div {
    opacity: 0.11;
}

.semi-transparent-register-like {
    background-color: rgba(23,23,23,0.5) !important;
}

.blurred-register-like {
    filter: blur(2px);
}

/* ?? */

a {
    text-decoration: none !important;
}

    a:focus {
        text-decoration: none !important;
    }

/* Various. */

title-setting-register-like {
    text-align: center;
    margin-top: 1%;
    font-size: 42px;
}

@charset "UTF-8";

.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}

.multi-steps > li.is-active ~ li:after, .multi-steps > li.is-active:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: #64749E;
    }

        .multi-steps > li:before {
            content: "";
            content: "✓;";
            content: "𐀃";
            content: "𐀄";
            content: "✓";
            display: block;
            margin: 0 auto 4px;
            background-color: #fff;
            width: 36px;
            height: 36px;
            line-height: 32px;
            text-align: center;
            font-weight: bold;
            border-width: 2px;
            border-style: solid;
            border-color: tomato;
            border-radius: 50%;
        }

        .multi-steps > li:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: tomato;
            position: absolute;
            top: 16px;
            left: 50%;
            z-index: -1;
        }

        .multi-steps > li:last-child:after {
            display: none;
        }

        .multi-steps > li.is-active:before {
            background-color: #fff;
            border-color: #64749E;
        }

        .multi-steps > li.is-active ~ li {
            color: #808080;
        }

            .multi-steps > li.is-active ~ li:before {
                background-color: #ededed;
                border-color: #ededed;
            }

/* Styles for all pages.*/

.reason {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(194, 194, 194, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    animation: fade-out-reason 5s ease-in-out 3s forwards;
    z-index: 9999;
}

@keyframes fade-out-reason {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Style button. */
.button-style-for-page {
    text-align: center !important;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    height: 30px;
}

.about-like-cloud-button-for-page {
    color: white !important;
    border: 0px;
    padding: 0;
    background-color: #6174C8;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 170px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page:hover {
        background-color: #434244 !important;
        color: white !important;
    }


.button-style-for-page-two {
    text-align: center !important;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    height: 30px;
}

.about-like-cloud-button-for-page-two {
    color: white !important;
    border: 0px;
    padding: 0;
    background-color: #434244;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-two:hover {
        background-color: #6174C8 !important;
        color: white !important;
    }


/* ComboBox sorting.*/

@media (min-width: 768px) {
    .form-search .combobox-container,
    .form-inline .combobox-container {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .form-search .combobox-container .input-group-addon,
        .form-inline .combobox-container .input-group-addon {
            width: auto;
        }
}

.combobox-selected .caret {
    display: none;
}


/* :not doesn't work in IE8 */

.combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
}

.typeahead-long {
    max-height: 300px;
    overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #6174C8;
}

.control-group.warning .combobox-container .caret {
    border-top-color: #6174C8;
}

.control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
}

.control-group.success .combobox-container .caret {
    border-top-color: #6174C8;
}


/* Search. */

.search-box, .close-icon, .search-wrapper {
    position: relative;
    padding: 10px;
}

.search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

    .search-box:focus {
        box-shadow: 0 0 5px 3px #6174C8;
        border: 2px solid #bebede;
    }

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

    .close-icon:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #FA9595;
        z-index: 1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
    }

.search-box:not(:valid) ~ .close-icon {
    display: none;
}


/* Background for description. */

.section.blacked {
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.section {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-section-bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 10% 50%;
    object-position: 10% 50%;
}

img-section {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.body-background {
    width: 100%;
    height: 500px;
    background: #000 url(Resources/bacgrounds.jpg);
    color: #fff; /* Цвет текста */
}


/* Comments. */
.topic .td1 {
    border-width: 1px 1px 0 0;
    border-right-color: #b7c0c5;
    min-width: 142px;
    max-width: 160px;
    border-style: solid;
}

.poster_info {
    padding: 4px;
    vertical-align: top;
    font-size: 10px;
    line-height: 100%;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.topic .td2 {
    border-width: 1px 0 0 0;
    width: 100%;
}

.message {
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.post_head {
    border-width: 0 0 1px 0;
    padding: 0 6px;
    font-size: 10px;
}

.post-time {
    float: left;
    padding: 4px 0 3px;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.post_wrap {
    max-width: 1175px;
    margin: 5px 5px 8px;
    word-wrap: break-word;
}

.post_body {
    line-height: 18px;
}


/* Background. */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.marginated {
    padding-left: 15px;
    padding-right: 15px;
}

/* Style for add or info pages. */
.semi-transparent-register-like-two {
    background-color: rgba(68,67,67,0.5) !important;
    font-family: 'IBM Plex Serif', serif;
    color: white;
}

.about-like-cloud-button-three {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: auto;
    font-size: 30px !important;
}

    .about-like-cloud-button-three:hover {
        color: white !important;
        background-color: #6174C8 !important;
    }

.about-like-cloud-button-for-page-four {
    color: #181219 !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 170px;
    font-size: 15px !important;
}

    .about-like-cloud-button-for-page-four:hover {
        color: white !important;
        background-color: #6174C8 !important;
    }

.jumbojumbo {
    margin-top: 20px;
    padding-top: 20px !important;
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.center-align {
    text-align: -webkit-center;
}
