/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Snippet style for elements with round corners. */
.radius-like {
    border-radius: 20px;
}

/* Animation effect for objects with rotate when the page loaded. */
.jumpable {
    animation: easing-boing-anim 2s ease-in-out 1 normal;
}

/* Animation effect for objects without rotation when the page loaded. */
.pushable {
    animation: easing-boing-anim 2s ease-in-out 1 normal;
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0) rotate(45deg);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes easing-boing-anim {
    from {
        transform: scale(0.0);
    }

    75% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1);
    }
}

.nice-text-box {
    border-bottom: 2px solid deeppink !important;
}

    .nice-text-box::placeholder {
        text-align: center;
        font-family: 'IBM Plex Serif', serif;
        font-size: 20px;
    }

#video-preview {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bg-image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transition: all linear 1000s;
    animation-name: blick;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    filter: blur(10px);
}


.prevent-selection {
    outline: none;
}

.green-button {
    background-color: green !important;
}

/* Smooth div cloud-like block. */
.round-div-block {
    border-radius: 30px;
    height: 30px;
    font-family: 'IBM Plex Serif', serif;
    padding: 10px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

    .round-div-block:hover {
        animation-name: blick;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }

.simple-cloud-button {
    background-color: deeppink;
    color: white !important;
    border: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

    .simple-cloud-button:hover {
        background-color: lightpink !important;
    }

@keyframes blick {
    from {
        transform: scale(0.99);
    }

    to {
        transform: scale(1.01);
    }
}

/* Div for divs to be on one line. */
.inline-div {
    display: flex;
}

/* A class form black bg replacing */
.request-white-bg {
    background-color: white !important;
    border: 0px !important;
}

/* Adds margin to elements with it. */
.marginaled {
    margin: 5px;
}

/* Properties for hr to be at bottom. */
hr {
    clear: both;
}

/* Properties for footer to be at bottom. */
footer {
    clear: both;
}

/* Styles for panel in Startups. */
.startup-panel {
    margin: 10px;
    transition: transform ease-in-out 300ms;
    float: left;
    width: 300px;
    height: 200px;
}

    /* Resize the startup block when the mouse is over it. */
    .startup-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

.team-panel {
    margin: 10px;
    transition: transform ease-in-out 300ms;
    float: left;
    width: 300px;
    height: 200px;
}

    /* Resize the team block when the mouse is over it. */
    .team-panel:hover {
        cursor: pointer;
        transform: scale(1.02);
    }


.gradientable {
    background: rgb(255,0,0);
    background: -webkit-linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #5ee0d3,#a686f7,#6a47c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradientable-purple {
    background: rgb(249,26,233);
    background: linear-gradient(90deg, rgba(249,26,233,1) 14%, rgba(255,124,0,1) 100%);
}

/* Styles for content elements. */
div ul li a {
    color: black !important;
    font-family: 'IBM Plex Serif', serif;
    transition: all ease-in-out 100ms;
    font-size: 20px;
}

    /* Change the color when the mouse is over a buttons. */
    div ul li a:hover {
        color: royalblue !important;
        font-family: 'IBM Plex Serif', serif;
        transform: scale(1.1);
    }

.request-black-font {
    color: black !important;
}

/* Startup Image radius */
.startup-image-radius {
    border-radius: 10%;
}

/* Styles for startup's name. */
.startup-name {
    text-align: center;
    color: white;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.startupnavbar {
    color: black !important;
}

.ImageSetting {
    float: right;
    flex: auto;
    height: 215px;
    width: 235px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.request-center {
    align-items: center !important;
    align-content: center;
    padding-left: 50% !important;
    margin-left: -250px !important;
}

.title-setting {
    text-align: center;
    margin-top: 10%;
    font-size: 54px;
}

.centerized-text {
    margin-left: auto;
    text-align: center !important;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.swimming-content {
    float: left;
    margin: 20px;
}

.textMarginAndSize {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-setting {
    position: relative;
    left: 48%;
    transform: translate(-50%, 0);
}

.txt-shadow:focus {
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
    box-shadow: 0px 0px 20px 7px rgba(0, 120, 232, 0.27);
}
